.color-cell {
  color: white;
  text-align: center;
}
th {
  width: 150px;
}

.container {
  display: flex;

  .left-side,
  .right-side {
    width: 50%;
  }

  .left-side {
    .color-preview {
      width: 50px;
      height: 50px;
      border-radius: 10px;
      cursor: pointer;
    }

    .color-wrapper {
      display: none;
      align-items: center;
    }
  }

  .right-side {
    .canvas-wrapper {
      position: relative;
    }
  }
}

.color-pin {
  width: 20px;
  height: 20px;
  position: absolute;
  background: transparent;
  border: 2px solid white;
  border-radius: 50%;
}

.add-color-button,
.add-random-color {
  display: none;
}

.magnifier-wrapper {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  display: none;
}
.magnifier-pointer {
  width: 18px;
  height: 18px;
  border: 1px aqua solid;
  position: absolute;
  left: 40px; //50%;
  top: 40px; //50%;
  // transform: translate(-50%, -50%);
  z-index: 10;
}
